<!DOCTYPE html>
<html>
    <head>
        <title>ECLEAN</title>
    </head>

    <body>
        <div>Microblog: <a href="/index">Home</a></div>

{#        <h1>Find a book</h1>#}
{#        <form action="" method="post" novalidate>#}
{#            {{ form.hidden_tag() }}#}
{#            <p>#}
{#                {{ form.username.label }}<br>#}
{#                {{ form.username(size=32) }}#}
{##}
{#            <p>{{ form.submit() }}</p>#}
{##}
{#        </form>#}
{##}
{#        <hr>#}

        {{ input }}

        {% block content %}
        {% endblock %}

    </body>
</html>